* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF z-index:555;}
#text {margin:50px auto; width:500px; z-index:555;}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer; z-index:555;}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat; z-index:555;}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden; z-index:555;}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF; z-index:555;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden; z-index:555;}